<a href="https://colab.research.google.com/github/qtuter1997/kmeanBasic/blob/main/kmeanBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/conanak99/jav-py

Cloning into 'jav-py'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 15 (delta 3), reused 4 (delta 1), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import k_means
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [3]:
actress = pd.read_json('jav-py/acctress.json')
actress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11186 entries, 0 to 11185
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           11186 non-null  int64
 1   name         11186 non-null  object
 2   japanName    11186 non-null  object
 3   hiragana     11186 non-null  object
 4   bust         6456 non-null   float64
 5   waist        6436 non-null   float64
 6   hip          6428 non-null   float64
 7   height       5012 non-null   float64
 8   birthday     4031 non-null   object
 9   blood_type   3171 non-null   object
 10  hobby        3730 non-null   object
 11  prefectures  4471 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 1.0+ MB

In [4]:
actress.head()

   id          name japanName  ... blood_type     hobby  prefectures
0   3  Kitagawa Yui      北川ゆい  ...         AB  クラシックバレエ         None
1   4         Akira     Akira  ...          A    水泳、ゴルフ          東京都
2   6        Cocolo    COCOLO  ...          B      パソコン          茨城県
3   8         Saiko     Saiko  ...          O    料理、大食い          東京都
4  11     Aida Momo     あいだもも  ...          A    エアロビクス          東京都

[5 rows x 12 columns]